<mat-card [ngClass]="{'text-center': !fullWidthMode}">
  <div [ngClass]="{flex: fullWidthMode}">
    <img class="mb-1 mx-auto h-[200px]" 
    [ngClass]="{'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode}"
    src="https://via.placeholder.com/150"/>
    <div class="w-full"
    [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
      <div>
        <h5>Мапи України</h5>
        <p class="truncate hover:whitespaсe-normal">Мапи України з підсвіткою</p>
        <p *ngIf="fullWidthMode">Опис даної мапи та характеристики</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{'1000' | currency : 'UAH'}}</span>
        <button>
          <mat-icon class="text-grey-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
